{% extends 'base.html.twig' %} 
{% block body %}
<container class="containerHome">
    <img src="{{ asset('uploads/homeImage.jpg' ) }} " alt="snowboard" class="mainPhoto"/>
    <div class="textPhoto">
        <h1>Welcome to SnowTricks</h1>
    </div>
</container>
{% endblock %}