{% extends 'base.html.twig' %}

{% block title %} Hello BlogController ! {% endblock %}

{% block body %}
<section class="homeImage">

</section>
<section class="articles">
</section>

{% endblock %}
