h1
{
    color:red;
}

.titleAllPages
{
    background-color: blue;
    text-align: center;
    width: 100%;
    padding-top:20px;
    padding-bottom: 20px;

}




/* Home Page*/

.mainPhoto
{
    width: 100%;
}

.containerHome 
{
   
    position: relative;
}
.containerHome .textPhoto 
{
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    width: 70%;
}

.loadMoreButton
{
    text-align: center;
    margin-bottom: 100px;
}

/* Trick Unique Page*/
.divUniqueTrick
{

    border: 2px solid black;
    margin: 50px 150px 50px 150px;

}

.articleTrick
{
    text-align: center;
    margin :0 auto;
    width:80%;
}

.titleDivUniqueTrick
{
    position: relative;
}

.titleDivUniqueTrick .textFeaturedPhoto
{
    color:whitesmoke;
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 15%;
    width: 50%;
}

.titleDivUniqueTrick .buttonModifyAndDelete
{
    background: whitesmoke;
    z-index: 1;
    position: absolute;
    font-family: Georgia;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 5%;
    width: 90px;
    border: 2px solid black;
}

.featuredPhoto
{
    margin-top:20px;
    width:65%;
}

.contentTrick
{
    margin-top:30px;
    margin-bottom:30px;
}

.propertiesTrickPost
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}

.detailPost
{
    border: 2px solid black;
}

.separator
{
    border: 1px solid black;
    width:80%;
}

.commentFormDiv
{
    margin-right:50px;
    margin-left:50px;
    text-align: center;
}

#comments
{
    margin-right:50px;
    margin-left:50px;
    margin-bottom:20px;
    text-align: center;
}

.commentUnique
{
    padding: 5px;
    margin:5px;
    border: 2px solid black;
}

/* Trick List */
.articleListDiv
{
    margin: 50px 50px 50px 50px;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap:wrap;

}
.articleDiv
{
    width:200px;
    height:250px;
    border: 2px solid black;
    margin-bottom: 15px;
    margin-right:5px;
    margin-left:5px;
}

.divPhoto
{
    width:200px;
    height:200px;
}

.photoSize
{
    width:199px;
    height:199px;
}

.infoTrick
{
    margin-top:5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.trickTitle
{
    margin-top:10px;
}

/* Login page*/
.loginFormDiv
{
    width:70%;
    margin:0 auto;
    margin-top:50px;
    text-align: center;
    
}

/*create page / edit page*/
.createFormDiv
{
    width:70%;
    margin:0 auto;
    margin-top:50px;
}

.photoSizeEditMode
{
    width:199px;
    height:199px;
    margin-top:10px;
    margin-bottom: 10px;
}

.buttonDelete
{
    text-align: center;
    margin-top:10px;
}

.buttonConfirm
{
    text-align: center;
}

.errorMessage
{
    text-align: center;
    border: 2px solid red;
}

.loginButton
{
    margin-top:20px;
    text-align: center;
}