{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="titleAllPages">
    <h1>Forgot Password</h1>    
</div>

<form method="post">
    <div class="loginFormDiv">
        <label for="inputUsername">Username</label>
        <input type="text" name="username" id="inputUsername" class="form-control" required autofocus>
        <button class="btn btn-lg btn-primary loginButton" type="submit">Ask for reset password</button>
    </div>
</form>

{% endblock %}
