{% extends 'base.html.twig' %}
 
{% block title %}Reset password{% endblock %}
 
{% block body %}
<div class="container bubble">
    <form method="post">
 
        <h2 class="bubble-title">Reset your password</h2>
        <label for="inputPassword" class="">New password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <input type="hidden" name="token" value="{token}">

        <div class="text-center mt-2">
            <button class="btn btn-lg btn-success mt-2 ml-0" type="submit">Change Password</button>
        </div>
    </form>
    </div>
 
{% endblock %}